.box.box-private-schools {
  border-top-color: #605ca8;
}
.box.box-solid.box-private-schools {
  border: 1px solid #605ca8;
}
.box.box-solid.box-private-schools > .box-header {
  color: #ffffff;
  background: #605ca8;
  background-color: #605ca8;
}
.box.box-solid.box-private-schools > .box-header a,
.box.box-solid.box-private-schools > .box-header .btn {
  color: #ffffff;
}
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #9C27B0;
}
.content {
	min-height: 0px;
}

.progress{
	background-color: #d4cece;
}
.progress-bar-red, .progress-bar-draft {
	background-color: #607d8b;
}

.progress-bar-red, .progress-bar-submitted {
	background-color: #673ab7;
}

.modal-header{
  border-top: #605ca8 5px solid;
}

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  
  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
} 

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 

@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 20px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 1s 9s;
  animation: fadein 0.5s, fadeout 1s 9s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* gray icons */
.behind-icons {
  position: absolute; z-index: 1; color: #ddd;
}
.front-text {
  position: relative; z-index: 2;
}

.pointer       { cursor: pointer; }